body{
    background-color: $coloreo;
    background-image: url(../imagenes/fondo2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-weight: 700;
}